.default {
  background-color: rgb(220, 220, 220);
  font-family: helvetica;
  display: block;
  height: 100vh;
}
#logo-title {
  padding-top: 5vh;
  text-align: center;
  font-size: 10vh;
  color: rgb(20, 200, 100);
}
#logo {
  display: block;
  width: 50vh;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.centered-btn {
  display: flex;
  justify-content: center;
}
#my-btn {
  margin-top: 5vh;
  background-color: rgb(20, 200, 100);
}
.route-links {
  text-decoration: none;
  color: black;
}
.route-links:hover {
    text-decoration: none;
    color: rgb(220, 220, 220);
}
.login-field {
  display: block;
  padding: 1vh;
}
.login-field-label {
  display: block;
  margin-right: 2vh;
  display: table-cell;
}
.input-g {
  margin: 5vh;
  display: flex;
  justify-content: center;
}
#lock-btn {
  background-color: rgb(20, 200, 100);
  z-index: 3;
  position: absolute;
  bottom: 0;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5vh;
}
#nav-logo {
  width: 10%;
  height: auto;
}
#icon-col {
  position: fixed;
  color: rgb(220, 220, 200);
  width: 10%;
  height: 100vh;
  right: 0;
  z-index: 5;
  margin-right: 5vh;
}
.icon {
  display: block;
  text-align: center;
  margin-right: 55px;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 2vh;
}
.icon-pic {
  width: 32px;
  height: 32px;
}
Modal {
  z-index: 35;
  position: fixed;
  bottom: 0;
  color: red;
  width: 100%;
  height: 100%;
}
p, h6, hr, ul {
  color: black;
}
