.default {
  background-color: rgb(220, 220, 220);
  font-family: raleway;
  display: block;
  height: 100vh;
}
#logo-title {
  padding-top: 5vh;
  text-align: center;
  font-size: 10vh;
  color: rgb(20, 200, 100);
}
#logo {
  display: block;
  width: 50vh;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.centered-btn {
  display: flex;
  justify-content: center;
}
#my-btn {
  margin-top: 5vh;
  background-color: rgb(20, 200, 100);
}
.route-links {
  text-decoration: none;
  color: black;
}
.route-links:hover {
    text-decoration: none;
    color: rgb(220, 220, 220);
}
.login-field {
  display: block;
  padding: 1vh;
}
.login-field-label {
  display: block;
  margin-right: 2vh;
  display: table-cell;
}
.input-g {
  margin: 5vh;
  display: flex;
  justify-content: center;
}
